body {
  background-color: rgb(161, 231, 255);
 
}

h1 {
     color: rgb(82, 43, 255);
  font-family: cursive;
}

h2 {
     color: rgb(82, 43, 255);
  font-family: cursive;
}

p {
     color: rgb(82, 43, 255);
  font-family: cursive;
}

button {
     color: rgb(82, 43, 255);
  font-family: cursive;
}
